<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraper</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Web Scraper</h1>
    <form action="/scrape" method="POST" onsubmit="showLoader()">
      <input
        type="text"
        name="url"
        placeholder="Enter URL to scrape"
        required
      />
      <button type="submit" id="scrapeButton">Scrape</button>
      <div class="loader" id="loader"></div>
      <!-- Loader element -->
    </form>
    <% if (data) { %>
    <h2>Scraped URL: <%= data.url %></h2>
    <!-- Add this line -->
    <h2>Results:</h2>
    <p><strong>Meta Title:</strong> <%= data.metaTitle %></p>
    <p><strong>Meta Description:</strong> <%= data.metaDescription %></p>
    <p><strong>Keywords:</strong> <%= data.keywords %></p>
    <h3>Page Text:</h3>
    <div><%= data.pageText %></div>
    <br />
    <h3>Links:</h3>
    <ul>
      <% data.links.forEach(link => { %>
      <li><%= link.text %> (<%= link.href %>)</li>
      <% }) %>
    </ul>
    <hr />
    <h3>Meta Tags:</h3>
    <ul>
      <% data.metaTags.forEach(metaTag => { %>
      <li><%= metaTag.name %>: <%= metaTag.content %></li>
      <% }) %>
    </ul>
    <h3>CTAs:</h3>
    <ul>
      <% data.ctas.forEach(cta => { %>
      <li><%= cta.text %> (<%= cta.href %>)</li>
      <% }) %>
    </ul>
    <br />
    <a href="/">Scrape another URL</a>
    <form action="/download" method="get">
      <button type="submit">Download as Word Doc</button>
    </form>
    <% } %>
    <script>
      function showLoader() {
        var overlay = document.createElement("div");
        overlay.setAttribute("id", "overlay");
        document.body.appendChild(overlay); // Append overlay to the body
        document.getElementById("overlay").style.display = "block"; // Display the overlay

        document.getElementById("loader").style.display = "inline-block"; // Show loader
        document.getElementById("scrapeButton").classList.add("hidden"); // Optionally hide button
      }
    </script>
  </body>
</html>
